.device LFE5U-45F

.comment Part: LFE5U-45F-6CABGA381
.sysconfig COMPRESS_CONFIG ON
.sysconfig CONFIG_IOVOLTAGE 3.3
.sysconfig MCCLK_FREQ 62

.tile CIB_R10C3:PVT_COUNT2
unknown: F2B0
unknown: F3B0
unknown: F5B0
unknown: F11B0
unknown: F13B0

.tile CIB_R11C1:CIB_LR
arc: N1_V02N0301 S3_V06N0003

.tile CIB_R11C89:CIB_LR
arc: S3_V06S0303 JQ5

.tile CIB_R13C1:CIB_LR
arc: S3_V06S0103 N3_V06S0103

.tile CIB_R14C1:CIB_LR
arc: N3_V06N0103 S3_V06N0003

.tile CIB_R14C89:CIB_LR
arc: JA3 W1_H02E0501
arc: W1_H02W0601 V06S0303
enum: CIB.JB3MUX 0

.tile CIB_R15C89:CIB_LR
arc: W1_H02W0401 S1_V02N0401
arc: W1_H02W0701 S1_V02N0701

.tile CIB_R17C1:CIB_LR
arc: N3_V06N0003 S3_V06N0003

.tile CIB_R17C89:CIB_LR
arc: N1_V02N0401 S3_V06N0203
arc: N1_V02N0701 JQ5
arc: W1_H02W0701 S3_V06N0203

.tile CIB_R19C1:CIB_LR
arc: S3_V06S0203 N3_V06S0103

.tile CIB_R1C13:CIB
arc: E3_H06E0203 W3_H06E0203

.tile CIB_R1C19:CIB
arc: E3_H06E0303 W3_H06E0203

.tile CIB_R1C1:CIB_LR_S
arc: E3_H06E0103 V06N0103
arc: S3_V06S0003 E3_H06W0003

.tile CIB_R1C25:CIB
arc: E3_H06E0303 W3_H06E0303

.tile CIB_R1C31:CIB
arc: E3_H06E0303 W3_H06E0303

.tile CIB_R1C37:CIB
arc: E1_H02E0501 W3_H06E0303

.tile CIB_R1C38:CIB
arc: E3_H06E0003 JQ0
arc: JA0 H02E0501
enum: CIB.JB0MUX 0

.tile CIB_R1C44:CIB
arc: E3_H06E0103 W3_H06E0003

.tile CIB_R1C49:CIB
enum: CIB.JB0MUX 0

.tile CIB_R1C50:CIB
arc: E3_H06E0103 W3_H06E0103

.tile CIB_R1C56:CIB
arc: E3_H06E0103 W3_H06E0103
enum: CIB.JB0MUX 0

.tile CIB_R1C58:CIB
arc: E1_H02E0501 V01N0101

.tile CIB_R1C59:CIB
arc: JA0 H02E0501
enum: CIB.JB0MUX 0

.tile CIB_R1C62:CIB
arc: E3_H06E0103 W3_H06E0103

.tile CIB_R1C68:CIB
arc: E3_H06E0203 W3_H06E0103

.tile CIB_R1C74:CIB
arc: E3_H06E0203 W3_H06E0203
enum: CIB.JB0MUX 0

.tile CIB_R1C76:CIB
arc: E1_H02E0501 V02N0501

.tile CIB_R1C77:CIB
arc: JA0 H02E0501
enum: CIB.JB0MUX 0

.tile CIB_R1C7:CIB
arc: E3_H06E0203 W3_H06E0103
arc: W3_H06W0003 JQ0

.tile CIB_R1C80:CIB
arc: E3_H06E0203 W3_H06E0203
enum: CIB.JB0MUX 0

.tile CIB_R1C86:CIB
arc: S3_V06S0203 W3_H06E0203

.tile CIB_R20C1:CIB_LR
arc: N3_V06N0003 S3_V06N0003

.tile CIB_R22C88:CIB_DSP
arc: S3_V06S0203 N3_V06S0103

.tile CIB_R23C1:CIB_LR
arc: N3_V06N0003 S3_V06N0003

.tile CIB_R23C89:CIB_LR
arc: N3_V06N0203 S3_V06N0103

.tile CIB_R25C1:CIB_LR
arc: S3_V06S0203 N3_V06S0203
enum: CIB.JB0MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R26C1:CIB_LR
arc: N3_V06N0003 E3_H06W0003
enum: CIB.JB0MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R28C1:CIB_LR
enum: CIB.JB0MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R29C1:CIB_LR
arc: JA3 H02W0701
arc: N3_V06N0003 S3_V06N0303
enum: CIB.JB3MUX 0

.tile CIB_R29C89:CIB_LR
arc: N3_V06N0103 S3_V06N0003

.tile CIB_R31C1:CIB_LR
arc: S3_V06S0203 N3_V06S0203
enum: CIB.JB3MUX 0

.tile CIB_R34C1:CIB_LR_S
enum: CIB.JB3MUX 0

.tile CIB_R34C88:CIB_EBR
arc: S3_V06S0203 N3_V06S0203

.tile CIB_R35C1:CIB_LR
arc: N3_V06N0303 JF5

.tile CIB_R35C89:CIB_LR
arc: N3_V06N0003 S3_V06N0303

.tile CIB_R37C1:CIB_LR
arc: S3_V06S0203 N3_V06S0203

.tile CIB_R41C89:CIB_LR
arc: JA3 V02N0501
arc: N3_V06N0303 JQ5
enum: CIB.JB3MUX 0

.tile CIB_R42C89:CIB_LR
arc: N1_V02N0501 S1_V02N0501
arc: S1_V02S0701 H02E0701

.tile CIB_R43C1:CIB_LR
arc: S3_V06S0303 N3_V06S0203

.tile CIB_R44C89:CIB_LR
arc: JA3 N1_V02S0701
arc: N1_V02N0501 JQ5
enum: CIB.JB3MUX 0

.tile CIB_R49C1:CIB_LR
arc: S3_V06S0003 N3_V06S0303

.tile CIB_R4C1:CIB_PLL0
arc: H00R0000 H02W0401
arc: JA3 V00B0000
arc: JA4 V00B0000
arc: JB1 V00B0000
arc: JB3 H00R0000
arc: JB4 V00B0100
arc: JC2 H02W0401
arc: JC3 H02W0401
arc: JCLK1 V02N0701
arc: JD2 H00R0000
arc: JLSR0 V00B0000
arc: N3_V06N0103 JF2
arc: S1_V02S0001 JF0
arc: V00B0000 H02W0401
arc: V00B0100 S1_V02N0101
arc: PLLCSOUT_PLLREFCS CLK1_PLLREFCS

.tile CIB_R55C1:CIB_LR
arc: S3_V06S0103 N3_V06S0003

.tile CIB_R5C1:CIB_PLL1
arc: JCLK0 V00B0000
arc: N1_V02N0701 S1_V02N0701
arc: V00B0000 V02S0001
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R5C89:CIB_PLL1
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R61C1:CIB_LR
arc: V01S0000 N3_V06S0103

.tile CIB_R62C1:CIB_LR
arc: S1_V02S0401 N1_V01S0000

.tile CIB_R64C1:CIB_LR
arc: JA3 V00T0000
arc: V00T0000 N1_V02S0401
enum: CIB.JB3MUX 0

.tile CIB_R68C89:CIB_LR
arc: JA3 H02E0501
enum: CIB.JB3MUX 0

.tile CIB_R6C1:CIB_LR
arc: N1_V02N0101 S1_V02N0101

.tile CIB_R70C3:CIB_PLL3
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R70C42:VCIB_DCU0
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C43:VCIB_DCUA
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C44:VCIB_DCUB
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C45:VCIB_DCUC
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C46:VCIB_DCUD
enum: CIB.JA1MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C47:VCIB_DCUF
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C48:VCIB_DCU3
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C49:VCIB_DCU2
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C50:VCIB_DCUG
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C51:VCIB_DCUH
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C52:VCIB_DCUI
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C53:VCIB_DCU1
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0

.tile CIB_R70C69:VCIB_DCU0
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C6:CIB_EFB0
enum: CIB.JB3MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C70:VCIB_DCUA
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C71:VCIB_DCUB
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C72:VCIB_DCUC
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C73:VCIB_DCUD
enum: CIB.JA1MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C74:VCIB_DCUF
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C75:VCIB_DCU3
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C76:VCIB_DCU2
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C77:VCIB_DCUG
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C78:VCIB_DCUH
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C79:VCIB_DCUI
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C7:CIB_EFB1
enum: CIB.JA3MUX 0
enum: CIB.JA4MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA6MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB4MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB6MUX 0
enum: CIB.JC3MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC5MUX 0
enum: CIB.JD3MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD5MUX 0

.tile CIB_R70C80:VCIB_DCU1
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0

.tile CIB_R70C87:CIB_PLL3
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R7C1:CIB_LR
arc: N1_V02N0701 S1_V02N0601
arc: S3_V06S0103 N3_V06S0003

.tile CIB_R8C1:CIB_LR
arc: N1_V02N0101 S3_V06N0103

.tile CIB_R9C1:CIB_LR
arc: N1_V02N0601 S1_V02N0301

.tile MIB_R0C11:PIOT0
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.HYSTERESIS ON
enum: PIOA.PULLMODE UP
enum: PIOA.DRIVE 4

.tile MIB_R0C12:PIOT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4

.tile MIB_R0C15:PIOT0
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.HYSTERESIS ON
enum: PIOA.PULLMODE UP
enum: PIOA.DRIVE 4

.tile MIB_R0C16:PIOT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4

.tile MIB_R0C18:PIOT0
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.HYSTERESIS ON
enum: PIOA.PULLMODE UP
enum: PIOA.DRIVE 4

.tile MIB_R0C19:PIOT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4

.tile MIB_R0C31:PIOT0
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.HYSTERESIS ON
enum: PIOA.PULLMODE UP
enum: PIOA.DRIVE 4

.tile MIB_R0C32:PIOT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4

.tile MIB_R0C33:PIOT0
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.HYSTERESIS ON
enum: PIOA.PULLMODE UP
enum: PIOA.DRIVE 4

.tile MIB_R0C34:PIOT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4

.tile MIB_R0C36:PIOT0
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.HYSTERESIS ON
enum: PIOA.PULLMODE UP
enum: PIOA.DRIVE 4

.tile MIB_R0C37:PIOT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4

.tile MIB_R0C38:PIOT0
enum: PIOA.BASE_TYPE BIDIR_LVCMOS33
enum: PIOA.HYSTERESIS ON
enum: PIOA.PULLMODE UP
enum: PIOA.DRIVE 4

.tile MIB_R0C39:PIOT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4

.tile MIB_R0C3:BANKREF0
enum: BANK.VCCIO 3V3

.tile MIB_R0C49:PIOT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33D
enum: PIOA.DRIVE 4

.tile MIB_R0C4:PIOT0
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.HYSTERESIS ON
enum: PIOA.PULLMODE UP
enum: PIOA.DRIVE 4

.tile MIB_R0C50:PIOT1
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33D
enum: PIOB.DRIVE 4

.tile MIB_R0C51:PIOT0
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.HYSTERESIS ON
enum: PIOA.PULLMODE UP
enum: PIOA.DRIVE 4

.tile MIB_R0C52:PIOT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4

.tile MIB_R0C53:PIOT0
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.HYSTERESIS ON
enum: PIOA.PULLMODE UP
enum: PIOA.DRIVE 4

.tile MIB_R0C54:PIOT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4

.tile MIB_R0C56:PIOT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33D
enum: PIOA.DRIVE 4

.tile MIB_R0C57:PIOT1
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33D
enum: PIOB.DRIVE 4

.tile MIB_R0C58:PIOT0
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.HYSTERESIS ON
enum: PIOA.PULLMODE UP
enum: PIOA.DRIVE 4

.tile MIB_R0C59:PIOT1
enum: PIOB.BASE_TYPE BIDIR_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4

.tile MIB_R0C5:PIOT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4

.tile MIB_R0C69:PIOT0
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.HYSTERESIS ON
enum: PIOA.PULLMODE UP
enum: PIOA.DRIVE 4

.tile MIB_R0C70:PIOT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4

.tile MIB_R0C74:PIOT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33D
enum: PIOA.DRIVE 4

.tile MIB_R0C75:PIOT1
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33D
enum: PIOB.DRIVE 4

.tile MIB_R0C76:PIOT0
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.HYSTERESIS ON
enum: PIOA.PULLMODE UP
enum: PIOA.DRIVE 4

.tile MIB_R0C77:PIOT1
enum: PIOB.BASE_TYPE BIDIR_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4

.tile MIB_R0C78:PIOT0
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.HYSTERESIS ON
enum: PIOA.PULLMODE UP
enum: PIOA.DRIVE 4

.tile MIB_R0C79:PIOT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4

.tile MIB_R0C7:PIOT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4

.tile MIB_R0C80:PIOT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33D
enum: PIOA.DRIVE 4

.tile MIB_R0C81:PIOT1
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33D
enum: PIOB.DRIVE 4

.tile MIB_R0C87:BANKREF1
enum: BANK.VCCIO 3V3

.tile MIB_R10C0:BANKREF7
enum: BANK.VCCIO 3V3

.tile MIB_R10C40:CMUX_UL_0
arc: G_DCS0CLK0 G_VPFN0000

.tile MIB_R10C41:CMUX_UR_0
arc: G_DCS0CLK1 G_VPFN0000

.tile MIB_R10C90:BANKREF2
enum: BANK.VCCIO 3V3

.tile MIB_R11C0:PICL0
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R11C90:PICR0
arc: JDIB JPADDIB_PIO
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R12C0:PICL1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.HYSTERESIS ON
enum: PIOA.PULLMODE UP
enum: PIOA.DRIVE 4

.tile MIB_R12C90:PICR1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.HYSTERESIS ON
enum: PIOA.PULLMODE UP
enum: PIOA.DRIVE 4

.tile MIB_R14C0:PICL0
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R14C90:PICR0
enum: PIOB.BASE_TYPE BIDIR_LVCMOS33
enum: PIOA.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R15C0:PICL1_DQS0
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.HYSTERESIS ON
enum: PIOA.PULLMODE UP
enum: PIOA.DRIVE 4

.tile MIB_R15C90:PICR1_DQS0
enum: PIOB.BASE_TYPE BIDIR_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.HYSTERESIS ON
enum: PIOA.PULLMODE UP
enum: PIOA.DRIVE 4

.tile MIB_R17C90:PICR0_DQS2
arc: JDIB JPADDIB_PIO
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R18C90:PICR1_DQS3
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.HYSTERESIS ON
enum: PIOA.PULLMODE UP
enum: PIOA.DRIVE 4
enum: PIOD.BASE_TYPE INPUT_LVCMOS33
enum: PIOD.HYSTERESIS ON
enum: PIOD.PULLMODE DOWN
enum: PIOD.DRIVE 4

.tile MIB_R19C90:PICR2
enum: PIOD.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R1C11:PICT0
enum: PIOA.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R1C12:PICT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R1C15:PICT0
enum: PIOA.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R1C16:PICT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R1C18:PICT0
enum: PIOA.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R1C19:PICT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R1C31:PICT0
enum: PIOA.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R1C32:PICT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R1C33:PICT0
enum: PIOA.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R1C34:PICT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R1C36:PICT0
enum: PIOA.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R1C37:PICT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R1C38:PICT0
enum: PIOA.BASE_TYPE BIDIR_LVCMOS33

.tile MIB_R1C39:PICT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R1C49:PICT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33D

.tile MIB_R1C4:PICT0
enum: PIOA.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R1C50:PICT1
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33D

.tile MIB_R1C51:PICT0
enum: PIOA.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R1C52:PICT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R1C53:PICT0
enum: PIOA.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R1C54:PICT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R1C56:PICT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33D

.tile MIB_R1C57:PICT1
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33D

.tile MIB_R1C58:PICT0
enum: PIOA.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R1C59:PICT1
enum: PIOB.BASE_TYPE BIDIR_LVCMOS33

.tile MIB_R1C5:PICT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R1C69:PICT0
enum: PIOA.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R1C70:PICT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R1C74:PICT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33D

.tile MIB_R1C75:PICT1
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33D

.tile MIB_R1C76:PICT0
enum: PIOA.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R1C77:PICT1
enum: PIOB.BASE_TYPE BIDIR_LVCMOS33

.tile MIB_R1C78:PICT0
enum: PIOA.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R1C79:PICT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R1C7:PICT1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R1C80:PICT0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33D

.tile MIB_R1C81:PICT1
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33D

.tile MIB_R20C0:PICL0
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R20C90:PICR0
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R21C0:PICL1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.HYSTERESIS ON
enum: PIOA.PULLMODE UP
enum: PIOA.DRIVE 4

.tile MIB_R21C90:PICR1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.HYSTERESIS ON
enum: PIOA.PULLMODE UP
enum: PIOA.DRIVE 4

.tile MIB_R23C0:PICL0
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R24C0:PICL1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.HYSTERESIS ON
enum: PIOA.PULLMODE UP
enum: PIOA.DRIVE 4
enum: PIOC.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOC.PULLMODE NONE
enum: PIOC.DRIVE 4
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOD.PULLMODE NONE
enum: PIOD.DRIVE 4

.tile MIB_R25C0:PICL2
enum: PIOC.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R26C0:PICL0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R27C0:PICL1_DQS0
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.PULLMODE NONE
enum: PIOA.DRIVE 4
enum: PIOC.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOC.PULLMODE NONE
enum: PIOC.DRIVE 4
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOB.PULLMODE NONE
enum: PIOB.DRIVE 4
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOD.PULLMODE NONE
enum: PIOD.DRIVE 4

.tile MIB_R28C0:PICL2_DQS1
enum: PIOC.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R29C0:PICL0_DQS2
enum: PIOB.BASE_TYPE BIDIR_LVCMOS33
enum: PIOA.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R30C0:PICL1_DQS3
enum: PIOB.BASE_TYPE BIDIR_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.HYSTERESIS ON
enum: PIOA.PULLMODE UP
enum: PIOA.DRIVE 4
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOD.PULLMODE NONE
enum: PIOD.DRIVE 4

.tile MIB_R31C0:PICL2
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R32C0:PICL0
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R33C0:PICL1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE NONE
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.HYSTERESIS ON
enum: PIOA.PULLMODE UP
enum: PIOA.DRIVE 4
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOD.PULLMODE NONE
enum: PIOD.DRIVE 4

.tile MIB_R34C0:MIB_CIB_LR
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R35C0:PICL0
arc: JDIA JPADDIA_PIO
enum: PIOA.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R36C0:PICL1
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.HYSTERESIS ON
enum: PIOA.PULLMODE NONE

.tile MIB_R38C90:PICR0
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R39C90:PICR1_DQS0
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.HYSTERESIS ON
enum: PIOA.PULLMODE UP
enum: PIOA.DRIVE 4

.tile MIB_R41C90:PICR0_DQS2
arc: JDIB JPADDIB_PIO
enum: PIOB.BASE_TYPE BIDIR_LVCMOS33
enum: PIOA.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R42C90:PICR1_DQS3
enum: PIOB.BASE_TYPE BIDIR_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.HYSTERESIS ON
enum: PIOA.PULLMODE UP
enum: PIOA.DRIVE 4

.tile MIB_R44C90:PICR0
arc: JDIB JPADDIB_PIO
enum: PIOB.BASE_TYPE BIDIR_LVCMOS33
enum: PIOA.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R45C90:PICR1
enum: PIOB.BASE_TYPE BIDIR_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.HYSTERESIS ON
enum: PIOA.PULLMODE UP
enum: PIOA.DRIVE 4

.tile MIB_R4C0:PLL0_UL
arc: E1_CLKFB E1_JCLKFB3
arc: E1_REFCLK1 E1_JREFCLK1_0

.tile MIB_R58C40:CMUX_LL_0
arc: G_DCS1CLK0 G_VPFN0000

.tile MIB_R58C41:CMUX_LR_0
arc: G_DCS1CLK1 G_VPFN0000

.tile MIB_R63C0:PICL1_DQS0
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOD.PULLMODE UP
enum: PIOD.DRIVE 4

.tile MIB_R64C0:PICL2_DQS1
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R65C90:PICR0_DQS2
enum: PIOB.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R66C90:PICR1_DQS3
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE DOWN
enum: PIOB.DRIVE 4

.tile MIB_R68C90:PICR0
enum: PIOB.BASE_TYPE BIDIR_LVCMOS33
enum: PIOA.BASE_TYPE INPUT_LVCMOS33

.tile MIB_R69C90:PICR1
enum: PIOB.BASE_TYPE BIDIR_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE UP
enum: PIOB.DRIVE 4
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.HYSTERESIS ON
enum: PIOA.PULLMODE UP
enum: PIOA.DRIVE 4

.tile MIB_R71C1:BANKREF6
enum: BANK.VCCIO 3V3

.tile MIB_R71C3:BANKREF8
enum: BANK.VCCIO 3V3

.tile MIB_R71C4:EFB0_PICB0
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.HYSTERESIS ON
enum: PIOA.PULLMODE DOWN
enum: PIOA.DRIVE 4
enum: SYSCONFIG.SLAVE_PARALLEL_PORT DISABLE
enum: SYSCONFIG.SLAVE_SPI_PORT DISABLE
unknown: F54B1
unknown: F56B1
unknown: F82B1
unknown: F94B1

.tile MIB_R71C5:EFB1_PICB1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE DOWN
enum: PIOB.DRIVE 4
enum: SYSCONFIG.MASTER_SPI_PORT ENABLE

.tile MIB_R71C6:EFB2_PICB0
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.BASE_TYPE INPUT_LVCMOS33
enum: PIOA.HYSTERESIS ON
enum: PIOA.PULLMODE DOWN
enum: PIOA.DRIVE 4
enum: SYSCONFIG.SLAVE_SPI_PORT DISABLE

.tile MIB_R71C7:EFB3_PICB1
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.BASE_TYPE INPUT_LVCMOS33
enum: PIOB.HYSTERESIS ON
enum: PIOB.PULLMODE DOWN
enum: PIOB.DRIVE 4

.tile MIB_R71C89:BANKREF3
enum: BANK.VCCIO 3V3

.tile R11C2:PLC2
arc: F7 F7_SLICE
arc: N3_V06N0203 F7
arc: S3_V06S0203 F7
word: SLICED.K1.INIT 0000000000000000
enum: SLICED.MODE LOGIC
enum: SLICED.CCU2.INJECT1_1 _NONE_
enum: SLICED.A1MUX 1
enum: SLICED.B1MUX 1
enum: SLICED.C1MUX 1
enum: SLICED.D1MUX 1

.tile R13C86:PLC2
arc: S3_V06S0203 N3_V06S0203
arc: S3_V06S0303 N3_V06S0203

.tile R14C43:PLC2
arc: E3_H06E0103 S3_V06N0103

.tile R14C49:PLC2
arc: E3_H06E0103 W3_H06E0103

.tile R14C55:PLC2
arc: E3_H06E0103 W3_H06E0103

.tile R14C58:PLC2
arc: N3_V06N0103 H06E0103

.tile R14C61:PLC2
arc: E3_H06E0103 W3_H06E0103

.tile R14C67:PLC2
arc: E3_H06E0103 W3_H06E0103

.tile R14C73:PLC2
arc: E3_H06E0203 W3_H06E0103

.tile R14C76:PLC2
arc: N3_V06N0203 H06E0203

.tile R14C79:PLC2
arc: E3_H06E0303 W3_H06E0203

.tile R14C85:PLC2
arc: E1_H02E0501 W3_H06E0303

.tile R14C87:PLC2
arc: E1_H02E0501 W1_H02E0501
arc: S1_V02S0601 E1_H02W0601

.tile R15C87:PLC2
arc: H00R0000 V02S0601
arc: V00B0000 V02N0201
arc: A2 S1_V02N0701
arc: A3 E1_H02W0701
arc: B0 V00T0000
arc: B3 H00R0000
arc: C2 V02S0601
arc: C3 E1_H02W0401
arc: CE0 H00L0000
arc: CLK0 V02N0701
arc: D0 V02N0001
arc: D3 V01S0100
arc: F0 F0_SLICE
arc: F2 F5B_SLICE
arc: H00L0000 F2
arc: M2 V00B0000
arc: MUXCLK0 CLK0
arc: S1_V02S0201 F2
arc: V00T0000 Q0
arc: V01S0100 Q0
word: SLICEA.K0.INIT 0011001100000000
word: SLICEB.K0.INIT 1010111110101111
word: SLICEB.K1.INIT 1111001110000000
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_0 _NONE_
enum: SLICEA.A0MUX 1
enum: SLICEA.C0MUX 1
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG0.SD 1
enum: SLICEA.REG0.REGSET RESET
enum: SLICEA.REG0.LSRMODE LSR
enum: SLICEA.CEMUX CE
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE LSR_OVER_CE
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK
enum: SLICEB.MODE LOGIC
enum: SLICEB.CCU2.INJECT1_0 _NONE_
enum: SLICEB.B0MUX 1
enum: SLICEB.D0MUX 1
enum: SLICEB.MODE LOGIC
enum: SLICEB.CCU2.INJECT1_1 _NONE_

.tile R16C86:PLC2
arc: E1_H02E0501 V06S0303
arc: E1_H02E0701 V06S0203

.tile R16C87:PLC2
arc: E1_H02E0501 N1_V01S0100
arc: N1_V02N0701 H02E0701
arc: V00B0100 H02E0501
arc: C0 N1_V01S0100
arc: CE0 V02S0201
arc: CLK0 V00B0100
arc: D0 Q0
arc: E1_H02E0001 Q0
arc: F0 F0_SLICE
arc: MUXCLK0 CLK0
arc: N1_V02N0001 Q0
arc: N1_V02N0201 Q0
word: SLICEA.K0.INIT 1111000011111111
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_0 _NONE_
enum: SLICEA.A0MUX 1
enum: SLICEA.B0MUX 1
enum: SLICEA.GSR DISABLED
enum: SLICEA.REG0.SD 1
enum: SLICEA.REG0.REGSET RESET
enum: SLICEA.REG0.LSRMODE LSR
enum: SLICEA.CEMUX CE
enum: LSR0.SRMODE LSR_OVER_CE
enum: LSR0.LSRMUX LSR
enum: LSR1.SRMODE LSR_OVER_CE
enum: LSR1.LSRMUX LSR
enum: CLK0.CLKMUX CLK

.tile R16C88:PLC2
arc: A1 H02E0501
arc: D1 H02E0001
arc: F1 F1_SLICE
arc: S3_V06S0103 F1
word: SLICEA.K1.INIT 1111111101010101
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_1 _NONE_
enum: SLICEA.B1MUX 1
enum: SLICEA.C1MUX 1

.tile R17C2:PLC2
arc: S3_V06S0203 N3_V06S0203

.tile R17C87:PLC2
arc: N1_V02N0701 E1_H02W0701

.tile R20C43:PLC2
arc: N3_V06N0103 S3_V06N0103

.tile R23C2:PLC2
arc: S3_V06S0203 N3_V06S0203

.tile R26C13:PLC2
arc: W3_H06W0003 E3_H06W0303

.tile R26C19:PLC2
arc: W3_H06W0303 E3_H06W0303

.tile R26C25:PLC2
arc: W3_H06W0303 E3_H06W0303

.tile R26C31:PLC2
arc: W3_H06W0303 E3_H06W0203

.tile R26C37:PLC2
arc: W3_H06W0203 E3_H06W0103

.tile R26C43:PLC2
arc: E3_H06E0103 F1
arc: F1 F1_SLICE
arc: N3_V06N0103 F1
arc: W3_H06W0103 F1
word: SLICEA.K1.INIT 1111111111111111
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_1 _NONE_
enum: SLICEA.A1MUX 1
enum: SLICEA.B1MUX 1
enum: SLICEA.C1MUX 1
enum: SLICEA.D1MUX 1

.tile R26C49:PLC2
arc: E3_H06E0203 W3_H06E0103

.tile R26C55:PLC2
arc: E3_H06E0203 W3_H06E0203

.tile R26C61:PLC2
arc: E3_H06E0203 W3_H06E0203

.tile R26C67:PLC2
arc: E3_H06E0203 W3_H06E0203

.tile R26C73:PLC2
arc: E3_H06E0203 W3_H06E0203

.tile R26C79:PLC2
arc: E3_H06E0303 W3_H06E0203

.tile R26C7:PLC2
arc: W3_H06W0003 E3_H06W0003

.tile R26C85:PLC2
arc: E3_H06E0303 W3_H06E0303

.tile R26C88:PLC2
arc: S3_V06S0303 H06E0303

.tile R28C88:PLC2
arc: S3_V06S0203 N3_V06S0203

.tile R29C2:PLC2
arc: W1_H02W0701 N3_V06S0203

.tile R2C58:PLC2
arc: N1_V01N0101 S3_V06N0203

.tile R2C76:PLC2
arc: N1_V02N0501 S3_V06N0303

.tile R32C88:PLC2
arc: S3_V06S0003 N3_V06S0303

.tile R38C88:PLC2
arc: S3_V06S0103 N3_V06S0003

.tile R40C88:PLC2
arc: S1_V02S0701 N3_V06S0203

.tile R42C88:PLC2
arc: E1_H02E0701 N1_V02S0701

.tile R44C88:PLC2
arc: S3_V06S0203 N3_V06S0103

.tile R4C2:PLC2
arc: W1_H02W0401 V02N0401

.tile R50C88:PLC2
arc: S3_V06S0203 N3_V06S0203

.tile R56C88:PLC2
arc: S3_V06S0303 N3_V06S0203

.tile R5C2:PLC2
arc: N1_V02N0401 S3_V06N0203

.tile R62C88:PLC2
arc: S3_V06S0303 N3_V06S0303

.tile R68C88:PLC2
arc: E1_H02E0501 N3_V06S0303

.tile R7C86:PLC2
arc: S3_V06S0203 N3_V06S0203

.tile R8C58:PLC2
arc: N3_V06N0203 S3_V06N0103

.tile R8C76:PLC2
arc: N3_V06N0303 S3_V06N0203

.tile_group MIB_R4C0:PLL0_UL MIB_R5C0:PLL1_UL
word: CLKI_DIV 0000000
word: CLKFB_DIV 0001100
word: CLKOP_DIV 0000001
word: CLKOP_CPHASE 0000001
word: CLKOP_FPHASE 000
word: CLKOS_DIV 0001001
word: CLKOS_CPHASE 0001001
word: CLKOS_FPHASE 000
word: CLKOS2_DIV 1100011
word: CLKOS2_CPHASE 1100011
word: CLKOS2_FPHASE 000
word: CLKOS3_DIV 0000000
word: CLKOS3_CPHASE 0000000
word: CLKOS3_FPHASE 000
word: PLL_LOCK_MODE 000
word: KVCO 000
word: LPF_CAPACITOR 00
word: LPF_RESISTOR 0001000
word: ICP_CURRENT 01100
word: FREQ_LOCK_ACCURACY 00
word: MFG_GMC_GAIN 000
word: MFG_GMC_TEST 1110
word: MFG1_TEST 000
word: MFG2_TEST 000
word: MFG_FORCE_VFILTER 0
word: MFG_ICP_TEST 0
word: MFG_EN_UP 0
word: MFG_FLOAT_ICP 0
word: MFG_GMC_PRESET 0
word: MFG_LF_PRESET 0
word: MFG_GMC_RESET 0
word: MFG_LF_RESET 0
word: MFG_LF_RESGRND 0
word: MFG_GMCREF_SEL 10
word: MFG_ENABLE_FILTEROPAMP 1
enum: MODE EHXPLLL
enum: CLKOP_ENABLE ENABLED
enum: CLKOS_ENABLE ENABLED
enum: CLKOS2_ENABLE ENABLED
enum: CLKOS3_ENABLE DISABLED
enum: FEEDBK_PATH CLKOP
enum: CLKOP_TRIM_POL RISING
enum: CLKOP_TRIM_DELAY 0
enum: CLKOS_TRIM_POL RISING
enum: CLKOS_TRIM_DELAY 0
enum: OUTDIVIDER_MUXA DIVA
enum: OUTDIVIDER_MUXB DIVB
enum: OUTDIVIDER_MUXC DIVC
enum: OUTDIVIDER_MUXD DIVD
enum: STDBY_ENABLE DISABLED
enum: REFIN_RESET DISABLED
enum: SYNC_ENABLE DISABLED
enum: INT_LOCK_STICKY ENABLED
enum: DPHASE_SOURCE DISABLED
enum: PLLRST_ENA DISABLED
enum: INTFB_WAKE DISABLED

